/*
  [CSS Index]
  
  ---
  
  Name: cSquaredSquared
  Author:  exJeLLo
  Version: 2.1
*/


/*
  1. additional styling
*/


/* 1. additional styling */
.film-grain {
display: none;
visibility: hidden;
}